@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto min-h-screen max-w-[1400px];
  }
  html {
    font-family: "Noto Sans", sans-serif;
  }

  html::-webkit-scrollbar {
    width: 6px;
  }

  html::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  html::-webkit-scrollbar-thumb {
    @apply bg-[#BCC0C4] rounded-md;
  }
}

@layer components {
  .use-shadow {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  transition: all 0.25s;
  background-color: white !important;
  opacity: 0.6;
}

.animation-flashsale {
  animation: 0.8s linear 0s infinite normal none running spin;
}
@keyframes spin {
  50% {
    opacity: 0.3;
    transform: scale(1.3);
  }
}
